#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Label_303 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Label_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Tab-bar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Label_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Label_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1f962bd9-be19-4c1f-9d4a-e91920073ad5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}