#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_425 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_434 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Ellipse_69 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Ellipse_70 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Ellipse_71 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Ellipse_72 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_451 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Rich_text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Ellipse_255 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Ellipse_256 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Rich_text_219 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Rich_text_220 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Triangle_14 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_574 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_572 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_573 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Tab-bar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}