#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Map-Screen {
  border-collapse: separate;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_425 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_434 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Ellipse_69 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Ellipse_70 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Ellipse_71 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Ellipse_72 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_451 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_74 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Rich_text_25 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Button_7 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_90 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Ellipse_255 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Ellipse_256 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Rich_text_219 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 7px 0px 0px 7px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 35px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Rich_text_220 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 7px 7px 0px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 11px;
  width: 145px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Triangle_14 {
  -ms-transform: rotate(180.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_574 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_572 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_573 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Tab-bar {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_50 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_46 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6210c73a-7f87-4cb9-9e1d-8bffc4029650 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}