#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Description-Details-screen {
  border-collapse: separate;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_89 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_425 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_434 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Ellipse_69 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Ellipse_70 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Ellipse_71 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Ellipse_72 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_451 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_74 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_58 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Rich_text_204 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Image_30 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Line_109 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Line_109 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Rich_text_205 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  filter: alpha(opacity=96);
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Line_110 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Line_110 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Rich_text_207 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Tab-bar {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_50 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_46 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}