#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_425 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_434 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Ellipse_69 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Ellipse_70 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Ellipse_71 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Ellipse_72 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_451 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Rich_text_204 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Image_30 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Line_109 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Rich_text_205 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96) ;
  filter: alpha(opacity=96) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Line_110 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Rich_text_207 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Tab-bar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9ae28311-ada2-4b53-a225-b0740d70735b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}