#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Input-text_1 {
  position: absolute;
  top: 152px;
  left: 151px;
  padding-left: 15px;
  width: 100px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Input-text_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Input-text_1 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Input-text_4 {
  position: absolute;
  top: 209px;
  left: 19px;
  padding-left: 15px;
  width: 366px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Input-text_4 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Input-text_4 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Input-text_5 {
  position: absolute;
  top: 265px;
  left: 19px;
  padding-top: 10px;
  padding-left: 15px;
  width: 367px;
  height: 86px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Input-text_5 textarea {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Header-top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 67px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Rich_text_22 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 414px;
  height: 63px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Button_3 {
  position: absolute;
  top: 31px;
  left: 325px;
  width: 76px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Button_3 span {
  color: #007DFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #007DFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_87 {
  position: absolute;
  top: 31px;
  left: 118px;
  width: 180px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_87 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_87 span#rtr-s-Label_87_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Group_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 22px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Rectangle_5 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 414px;
  height: 19px;
  background-color: #F6F6F6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Rectangle_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_422 {
  position: absolute;
  top: 6px;
  left: 45px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_422 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_422 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_422 span#rtr-s-Label_422_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_431 {
  position: absolute;
  top: 7px;
  left: 331px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_431 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_431 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_431 span#rtr-s-Label_431_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_35 {
  position: absolute;
  top: 3px;
  left: 169px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_35 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_35 span#rtr-s-Label_35_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Group_35 {
  position: absolute;
  top: 10px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Ellipse_12 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Ellipse_12 .content {
  width: 6px;
  height: 6px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Ellipse_12 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #shapewrapper-s-Ellipse_12 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Ellipse_61 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Ellipse_61 .content {
  width: 6px;
  height: 6px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Ellipse_61 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #shapewrapper-s-Ellipse_61 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #shapewrapper-s-Ellipse_61 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #shapewrapper-s-Ellipse_61 span#rtr-s-Ellipse_61_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Ellipse_62 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Ellipse_62 .content {
  width: 6px;
  height: 6px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Ellipse_62 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #shapewrapper-s-Ellipse_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #shapewrapper-s-Ellipse_62 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #shapewrapper-s-Ellipse_62 span#rtr-s-Ellipse_62_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Ellipse_63 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Ellipse_63 .content {
  width: 6px;
  height: 6px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Ellipse_63 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #shapewrapper-s-Ellipse_63 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #shapewrapper-s-Ellipse_63 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #shapewrapper-s-Ellipse_63 span#rtr-s-Ellipse_63_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Ellipse_64 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Ellipse_64 .content {
  width: 6px;
  height: 6px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Ellipse_64 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #shapewrapper-s-Ellipse_64 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #shapewrapper-s-Ellipse_64 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #shapewrapper-s-Ellipse_64 span#rtr-s-Ellipse_64_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_448 {
  position: absolute;
  top: 0px;
  left: 380px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_448 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_448 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_448 span#rtr-s-Label_448_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_71 {
  position: absolute;
  top: 3px;
  left: 338px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_71 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_71 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_71 span#rtr-s-Label_71_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Input-text_2 {
  position: absolute;
  top: 95px;
  left: 21px;
  padding-left: 15px;
  width: 366px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Input-text_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Input-text_2 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Input-text_3 {
  position: absolute;
  top: 152px;
  left: 285px;
  padding-left: 15px;
  width: 100px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Input-text_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Input-text_3 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Text_1 {
  position: absolute;
  top: 159px;
  left: 28px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Text_1 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Button {
  position: absolute;
  top: 378px;
  left: 19px;
  width: 375px;
  height: 37px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Button span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Button span#rtr-s-Button_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Bottom-bar {
  position: absolute;
  top: 685px;
  left: 0px;
  width: 414px;
  height: 51px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Tab-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 50px;
  background-color: #F6F6F6;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Tab-bar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Tab-bar span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Tab-bar span#rtr-s-Tab-bar_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_1 {
  position: absolute;
  top: 33px;
  left: 40px;
  width: 65px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_1 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Group_4 {
  position: absolute;
  top: 9px;
  left: 170px;
  width: 65px;
  height: 38px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_50 {
  position: absolute;
  top: 0px;
  left: 18px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_50 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_50 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_50 span#rtr-s-Label_50_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_2 {
  position: absolute;
  top: 24px;
  left: 0px;
  width: 65px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_2 span {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_2 span#rtr-s-Label_2_0 {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Group_5 {
  position: absolute;
  top: 9px;
  left: 300px;
  width: 69px;
  height: 38px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_46 {
  position: absolute;
  top: 0px;
  left: 18px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_46 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_46 span#rtr-s-Label_46_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_4 {
  position: absolute;
  top: 24px;
  left: 0px;
  width: 69px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_4 span {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_28 {
  position: absolute;
  top: 692px;
  left: 53px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_28 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_28 span#rtr-s-Label_28_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_34 {
  position: absolute;
  top: 695px;
  left: 185px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_34 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_34 span#rtr-s-Label_34_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_21 {
  position: absolute;
  top: 695px;
  left: 319px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_21 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_21 span#rtr-s-Label_21_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Dialog-3 {
  position: absolute;
  top: 322px;
  left: 77px;
  width: 270px;
  height: 158px;
  display: none;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Rich_text_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 22px;
  width: 266px;
  height: 134px;
  background-color: #F8F8F8;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 4px 4px 4px 4px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  opacity: 0.95;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Rich_text_11 .valign {
  vertical-align: top;
  text-align: center;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Rich_text_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Rich_text_11 span#rtr-s-Rich_text_11_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Rich_text_11 span#rtr-s-Rich_text_11_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_29 {
  position: absolute;
  top: 111px;
  left: 0px;
  width: 135px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_29 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_29 span#rtr-s-Label_29_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_30 {
  position: absolute;
  top: 111px;
  left: 135px;
  width: 135px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_30 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e2cf73be-043b-458d-8b6a-323c6d6c9973 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}